div.container {
    width: 100%;
    border: 1px solid gray;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #2d3d56;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 10%;
    margin: 0;
    padding: 1em;
}

.nav-button-group {
    padding: 0px 0px;
    width: 100%;
    display: block;
}

.nav-button {
    width: 100%;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2d3d56;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    transition: all 0.5s;
}

.nav-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav-button:hover span {
  padding-right: 25px;
}

.nav-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-body-container {
    margin-left: 10%;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    max-width: 85%;
}
div.banner {
  width: 70%;
  margin: 10px auto;
  position: relative;
  text-align:center;

}

div.banner_block {
  width: 300px;
  display:inline-block;
  margin: 10px;
  text-align:right
}

